# Build/Maven #
###############
**/target/


# Eclipse #
###########
.project
.classpath
.settings
**/bin/
.metadata/


# IntelliJ #
############
.idea/
*.iml

clients.dat
games.dat
lobby.dat
Editor.java